<% if logged_in? && current_user.username != "demo" %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<h1 id="root">React is not working</h1>