$yellow: #FFC000;
$dark-yellow: #FF9933;
$brown: #cc6600;
$light-gray: rgb(160, 160, 160) ;
$manila: #f5f2e8;
$shadow: rgb(216, 216, 216);

.black {
  color: black;
}

.brown {
  color: #cc6600;
}

.light-gray {
  color: #999999;
}

.dark-gray {
  color: #666666;
}

.white {
  color: white;
}

.orange {
  color: #ff9933
}