.brewery {
  width: 50%;
  background-color: white;
  border-bottom: 2px solid rgb(216, 216, 216);
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 25px;
}

.brewery:first-child {
  margin-top: 20px;
}

.brewery * {
  font-family: $sans-serif;
  color: $light-gray;
}

.brewery-header {
  display: flex;
}

.brewery img {
  box-sizing: content-box;
  width: 80px;
  padding: 0px 10px 10px 0px;
}

.brewery-name {
  font-size: 26px;
  color: black;
  margin-bottom: 12px;
}

.brewery-location {
  margin-bottom: 12px;
  font-size: 20px;
}

.brewery-description {
  font-size: 18px;
  display: inline;
  margin-right: 5px;
}

.brewery-description + button{
  color: #cc6600;
  font-size: 18px;
}

.brewery-description + button:hover{
  color: #ff9933;
}

