.nav-bar {
  // border: 5px solid green !important;
}

.link-feed {
  // border: 5px solid blue !important;
  // display: inline;
}

// .link-feed div {
//   display: inline;
// }

.user-logo-container {
  display: inline;
}

.user-logo {
  position: relative;
}

.user-logo-nav {
  position: absolute;
}