.banner {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  background-image: url("https://untappd.akamaized.net/site/assets/v3/images/cover_default.jpg");
  background-size: fit;
  height: 260px;
}

.banner * {
  font-family: $sans-serif;
  color: white;
}

.banner .profile-elements {
  width: 100%;
  display: flex;
}

.banner .user-profile-picture {
  margin: 0% 2% 2% 2%;
}

.banner .username {
  align-self: flex-start;
  font-size: 40px;
}