.banner {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  background-image: url("https://untappd.akamaized.net/site/assets/v3/images/cover_default.jpg");
  background-size: fit;
  box-sizing: border-box;
  height: 260px;
  padding: .5em;
}

.banner * {
  color: white;
}

.banner .Avatar {
  margin-right: 10px;
}

.banner .username {
  font-size: 40px;
}