.brewery-beer .header {
  display: flex;
  justify-content: space-between;
}

.brewery-beer .header .left {
  display: flex;
  max-width: 70%
}

.brewery-beer .description > * {
  display: inline;
}

.brewery-beer .description button {
  color: $brown;
  margin-left: 5px;
}

.brewery-beer .description button:hover {
  color: $dark-yellow;
}

.brewery-beer p {
  color: $light-gray;
}