.Brewery {
  display: flex;
  width: 100%;
}

.Brewery > div {
  flex: 1;
}

.Brewery > * {
  margin-right: 1em;
}

.Brewery > *:last-child {
  margin-right: 0;
}

.Brewery > div > * {
  margin-bottom: .5rem;
}