[class|=Button] {
  box-sizing: border-box;
  border-radius: .3em;
  white-space: nowrap;
}

[class|=Button]:not(.Button-text) {
  padding: .7em 1em;
  font-size: 16px;
}

.Button-contained {
  background-color: $yellow;
  color: white;
  border: 1px solid $yellow;
}

.Button-contained:hover {
  background-color: $dark-yellow;
}

.Button-outlined {
  background-color: white;
  color: $yellow;
  border: 1px solid $yellow;
}

.Button-outlined:hover {
  background-color: #eee;
}

.Button-text {
  font-size: 14px;
  color: $brown;
}

.Button-text:not(:last-child) {
  margin-right: 1em;
}

.Button-text:hover {
  color: $dark-yellow;
}

