.Checkin {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1em;
}

.Checkin > div {
  flex: 1;
}

.Checkin > * {
  margin-right: 10px;
}

.Checkin > *:last-child {
  margin-right: 0;
}