.Checkin {
  display: flex;
  justify-content: space-between;
}

.Checkin > div {
  flex: 1;
}

.Checkin > div > * {
  margin-bottom: 1em;
}

.Checkin > div > *:last-child {
  margin-bottom: 0;
}

.Checkin > * {
  margin-right: 10px;
}

.Checkin > *:last-child {
  margin-right: 0;
}