.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 0px;
  width: 200px;
  background-color: #2a2a2a;
  color: white;
}

.dropdown-menu > * {
  border-top: 1px solid $manila;
  font-family: $sans-serif;
  padding: 10px 0px 10px 10px;
}

.dropdown-menu > *:hover {
  background-color: #525252;
}