.NavBar {
  width: 100%;
  align-self: center;
  margin: auto;
  background-color: $yellow;
  padding: .2rem 0;
}

.NavBar .bitter-logo {
  font-family: $bitter-logo;
  font-size: 40px;
  color: white;
}

.nav-link {
  font-family: $sans-serif;
  font-size: 20px;
  color: white;
}

.nav-link:hover {
  color: white;
}

// .active-nav-link {
//   color: white;
// }

.NavBar .Avatar:hover {
  cursor: pointer;
}