.nav-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $yellow;
  height: $nav-bar-height;
}

.nav-bar .bitter-logo {
  font-family: $bitter-logo;
  font-size: 40px;
  color: white;
}

.nav-links {
  font-family: $sans-serif;
  font-size: 20px;
}

.nav-links:hover {
  color: white;
}

.active-nav-link {
  color: white;
}