// .Typography {
//   line-height: 1.5rem;
// }

.Typography.black {
  color: black;
}

.Typography.brown {
  color: #cc6600;
}

.Typography.lightGray {
  color: #999999;
}

.Typography.darkGray {
  color: #666666;
}

.Typography.white {
  color: white;
}

.Typography.orange {
  color: #ff9933
}

.Typography.xs {
  font-size: 12px;
}

.Typography.sm {
  font-size: 16px;
}

.Typography.md {
  font-size: 18px;
}

.Typography.lg {
  font-size: 20px;
}

.Typography.xl {
  font-size: 22px;
}

.Typography.xxl {
  font-size: 32px;
}

.Typography.xxxl {
  font-size: 40px;
}

.Typography.bold {
  font-weight: bold;
}

.Typography.gutterBottom {
  margin-bottom: 1rem;
}