.black {
  color: black;
}

.brown {
  color: #cc6600;
}

.lightGray {
  color: #999999;
}

.darkGray {
  color: #666666;
}

.white {
  color: white;
}

.orange {
  color: #ff9933
}

.xs {
  font-size: 12px;
}

.sm {
  font-size: 16px;
}

.md {
  font-size: 18px;
}

.lg {
  font-size: 20px;
}

.xl {
  font-size: 22px;
}

.xxl {
  font-size: 32px;
}

.xxxl {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}